body {
  background-image: url("../werewolf/allegiance.jpg");
}

h1 {
  color: #000;
  font-size: 100px;
  display: block;
  text-align: center;
  text-shadow: 0 0 16px #F00;
}

.role {
  border-radius: 10px;
  box-shadow: 0 0 4px #000;
  margin: 20px 2px;
  opacity: 0.8;
  width: 100%;
}

.role:hover {
  box-shadow: 0 0 8px #000;
}

.collapsible {
  background: #333;
  border: none;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin: 0;
  outline: none;
  padding: 5px;
  text-align: left;
  text-shadow: 0 0 2px #F00;
  width: 100%;
}

.collapsible:hover {
  background: #111;
}

.collapsible:after {
  content: '\002B';
  float: right;
}

.collapsible.active {
  border-radius: 10px 10px 0 0;
}

.collapsible.active:after {
    content: "\2212";
}

.description {
  display: none;
  width: 98%;
}
