body {
  background: #100;
  background-image: url("../werewolf/images/allegiances.png");
}

h1 {
  text-shadow: 0 0 0.5em #800;
}

th {
  background: #400;
}

td {
  background: #FFF;
  color: #400;
}

.evenEven {
  background: #DBB;
}

.evenOdd {
  background: #DDD;
}

.oddEven {
  background: #FDD;
}

.card {
  background: #400;
}

.card:hover {
  background: #211;
}

.titlePanel {
  background: #400;
}
