h1 {
  text-align: center;
}

h2 {
  background: #333;
  border-radius: 10px 10px 0 0;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 5px;
}

p {
  margin: 10px 20px;
}

.description {
  background: #FFF;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 20px;
}
