a {
  text-decoration: none;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0 0 15px 0;
}

h2 {
  background: #333;
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 5px;
}

.game {
  padding: 15px 0;
}

#_2048 {
  padding: 0 0 15px 0;
}

#title {
  text-align: center;
}
