body {
  background: #EFF;
}

h1 {
  text-align: center;
}

h2 {
  background: #333;
  border-radius: 10px 10px 0 0;
  color: #FFF;
  font-weight: normal;
  padding: 5px;
}

h2:hover {
  color: #0FF;
}

p {
  margin: 10px 20px;
}

.controls {
  margin: 10px 0;
  padding: 0 0 0 40px;
}

.description {
  background: #FFF;
  border-radius: 0 0 10px 10px;
  padding: 20px;
}

.game {
  border-radius: 10px;
  box-shadow: 0 0 4px #000;
  margin: 2px 2px 12px 2px;
}
