body {
  background: #00008B;
  color: #FFFFFF;
  font-family: 'Advent Pro';
  margin: 0;
  margin-top: 45px;
}

li a {
  color: #FFFFFF;
  display: block;
  font-size:1.5vw;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

#navBar {
  background-color: #333;
  list-style-type: none;
  left: 0;
  margin: 0px;
  overflow: hidden;
  padding: 0;
  position:fixed;
  top: 0;
  width:100%;
}

.navItem {
  float: left;
}

h1 {
  margin: 0;
  padding: 15px;
}

footer {
  padding: 20px;
  text-align: right;
}
