a {
  text-decoration: none;
}

body {
  background: #EFF;
  color: #000;
  font-family: 'Advent Pro', sans-serif;
  margin: 0;
  margin-top: 55px;
}

footer {
  padding: 20px;
  text-align: right;
}

h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.dropdownContent {
  background-color: #333;
  display: none;
  position: fixed;
  z-index: -1;
}

.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover {
  cursor: default;
}

.dropdown:hover .dropdownContent{
  display: block;
}

.navItem {
  float: left;
}

.navItem a, .navItem span {
  color: #FFF;
  display: block;
  font-size: 20px;
  padding: 14px 16px;
}

.navItem a:hover, .navItem span:hover {
  background-color: #111;
}

#navBar {
  background-color: #333;
  list-style-type: none;
  left: 0;
  overflow: hidden;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
