body {
  background: #011;
  background-image: url("../werewolf/images/roles.png");
  color: #FFF;
}

h1 {
  font-size: 100px;
  display: block;
  text-align: center;
  text-shadow: 0 0 0.5em #088;
}

#left, #right {
  float: left;
  height: 100%;
  width: 50%;
}

.collapse {
  background: inherit;
  border: none;
  border-radius: 10px;
  color: inherit;
  cursor: inherit;
  font-size: 24px;
  outline: none;
  padding: 0.5em;
  text-align: left;
  text-shadow: 0 0 0.25em #000;
  width: 100%;
}

.collapse.active {
  border-radius: 10px 10px 0 0;
}

.collapse:after {
  content: '\002B';
  float: right;
}

.collapse.active:after {
    content: "\2212";
}

.collapsible {
  background: inherit;
  border-radius: 0 0 10px 10px;
  display: none;
  font-size: 16px;
  text-shadow: 0 0 4px #000;
  width: 100%;
}

.description {
  padding: 20px;
}

.role {
  background: #044;
  border-radius: 10px;
  box-shadow: 0 0 1em #000;
  cursor: pointer;
  margin: 1.5em;
  opacity: 0.8;
}

@keyframes panel {
  from {
    box-shadow: 0 0 1em #000;
  }
  to {
    box-shadow: 0 0 2em #000;
  }
}

.role:hover {
  animation: panel 200ms;
  background: #111;
  box-shadow: 0 0 2em #000;
}
