body {
  background: #011;
  background-image: url("../werewolf/images/roles.png");
}

h1 {
  text-shadow: 0 0 0.5em #088;
}

th {
  background: #044;
}

td {
  background: #FFF;
  color: #044;
}

.evenEven {
  background: #BDD;
}

.evenOdd {
  background: #DDD;
}

.oddEven {
  background: #DFF;
}

.card {
  background: #044;
}

.card:hover {
  background: #133;
}

.titlePanel {
  background: #044;
}
